body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    color: #333;
    background-color: rgb(248, 210, 210); 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ff0000de; 
    color: #ffffff !important; 
    border-bottom: 5px solid #ffffff; 
}

main {
    max-width: 600px;
    margin: 20px auto;
    text-align: center; 
}

footer-container {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 15px; 
    background-color: #f2f2f2;
    border-top: 5px solid #ff0000de;
    border-bottom: 5px solid #ff0000de;
    width: 100%;
}

h1, h2, p, ul, li, button, footer p, .device-message {
    text-align: center; 
}

.device-message {
    margin-top: 10px;
    font-weight: bold;
    color: #ff0000de; 
}

h1 {
    color: #ffffff !important; 
    margin-bottom: 10px;
}

h2 {
    color: #ff0000de;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #ff0000de;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

button:hover {
    background-color: #ff0000de;
}










